@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
        <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="script.js"></script>
        <script type="text/javascript" src="build.js"></script>
        <script type="text/javascript" src="attack.js"></script>
        <script type="text/javascript" src="playerturns.js"></script>
        <script type="text/javascript" src="play.js"></script>
    </head>
    <body>
        <p id="turn"><strong>LETS PLAY</strong></p>
        </strong>
        <div id="build" class="actions">Build</div>
        <div id="attack" class="actions">Attack</div>
        <div id="upgrade" class="actions">Upgrade</div>
        <div id="enter">Activate!</div> 
        <p id="sup">Click Build and a Gadget to get started!</p>
        <img src="http://thumbs.dreamstime.com/x/retro-laser-gun-10631676.jpg" class="p1" id="lazer"
             alt="Lazer"
             id="lazer" class="p1"/>
        <img src="http://ts2.mm.bing.net/th?id=JN.4tknfBZk8zEwMl3PaKx9xg&pid=15.1&P=0" 
             alt="Rocket"
             id="rocket" class="p1"/>
        <img src="http://www.picgifs.com/clip-art/communication/satellite/clip-art-satellite-795814.jpg" 
             alt="Orb"
             id="orb" class="p2"/>
        <img src="http://thumbs.dreamstime.com/x/retro-laser-gun-10631676.jpg" class="p1" id="lazer"
             alt="Lazer"
             id="lazer" class="p2"/>
        <img src="http://ts2.mm.bing.net/th?id=JN.4tknfBZk8zEwMl3PaKx9xg&pid=15.1&P=0" 
             alt="Rocket"
             id="rocket" class="p2"/>
        <img src="http://www.picgifs.com/clip-art/communication/satellite/clip-art-satellite-795814.jpg" 
             alt="Orb"
             id="orb" class="p2"/>
    </body>
</html>
